
.about{
  background-color: #131313;
  padding-top: 2em;
  color: #fff;
  padding-bottom: 5em;
}

.about-title{
  font-size: 2.5em;
}

.about-title-sec {
  font-size: 1em;
  color: #cacaca;
  font-weight: 300;
}

.card {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 40% 40% auto;
}
.job-image{
  cursor: pointer;
  max-width: 90%;
  border-radius: 8px;
}
.job-title{
  cursor: pointer;
  font-size: 1.5em;
}
.job-subheading{
  cursor: pointer;
  font-size: 1em;
  color: #cacaca;
  font-weight: 300;
}
.job-desc{
  padding-top: 1em;
  font-size: 1em;
  font-weight: 300;
}
.job-more{
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  margin: auto 0;
}
.material-symbols-outlined{
  font-size: 2em;
}
.card-title{
  font-size: 1.2em;
}
.card-header{
  cursor: pointer;
  display: flex;
  align-items: center;
}
.card-header span {
  margin-right: .5em;
  font-size: 1.5em;
}
.card-desc {
  cursor: pointer;
  font-size: 0.8em;
  color: #cacaca;
  font-weight: 300;
  margin: 0.5em 3em;

}

.cursos {
  margin-top: 4em;
}

@media screen and (max-width: 768px) {
  .about-title{
    font-size: 1.5em;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .job-image{
    max-width: 100%;
  }
  .job-title{
    font-size: 1.2em;
    margin-top: 1em;
  }
  .job-subheading{
    font-size: 0.8em;
  }
  .job-desc{
    font-size: 0.8em;
    margin-bottom: 2em;
  }
  .card-header{
    margin-top: 1em;
  }
  .card-header span {
    margin-right: .5em;
    font-size: 1.2em;
  }
  
}