.aula-curso-item {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  align-items: center;
  transition: all 0.5s ease;
}

.aula-curso-item:hover {
  border: 1px solid #7E57C2;
}

.aula-curso-item-info{
  display: flex;
  gap: 2em;
}