.first-step-container{
    display: flex;
    flex-direction: row;
    padding: 80px;
    color: #fff;
    align-items: center;
}
.home_background{
    background-image: linear-gradient(#1A0E2D, #552E93);
    width: 100%;
}
h1 {
    font-size: 68px;
    font-weight: bold;
    padding-bottom: 20px;
}

p {
    font-size: 28px;
    margin: 10px 0;
}

.buttons {
    margin-top: 20px;
    width: 100%;
}

.image img {
    margin-left: 100px;
    width: 300px;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .first-step-container {
        flex-direction: column;
    }

    h1 {
        font-size: 36px;
    }
    p {
        font-size: 18px;
    }
    .content {
      z-index: 1;
    }
    .image {
      position: absolute;
      top: 50;
      overflow: hidden;
      z-index: 0;
      filter: contrast(0.8) brightness(0.6) blur(4px);
    }
    .image img {
        width: 100%;
        margin-left: 0;
    }

    .btn {
        width: 100%;
        margin: 5px 0;
    }
  
}