header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(250, 250, 250, 0.605);
  backdrop-filter: blur(20px);
  color: #ffffff;
  padding: 4px;
  border-bottom: 1px solid #a7a7a77c;
}
.header-div{
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0.2em;
}
.header-div div {
  display: flex;
  align-items: center;
}

.logo-name{
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 800;
}
.logo-name-1 {
  color:#1A0E2D ;
}
.logo-name-2{
  color:#552E93;
}
.btn-header {
  margin: 0 0.3em;
}
.btn-header button {
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
  border: none;
  background-color: #7E57C2;
  color: #fff;
  border-radius: 8px;
  font-weight: 300;
  text-wrap-mode: nowrap;
}

.logo-link {
  display: contents;
}

@media screen and (max-width: 768px) {
  .header-div {
    padding: 0 1em;
  }
  .header-div div {
    gap: 0.2em;
  }
  .logo-name {
    font-size: 1.5em;
  }
  .btn-header {
    font-size: 0.8em;
    padding: 0.2em;
    margin: 0 0.5em;
  }
  
}