
.container-dash {
    padding-top: 7em;
    min-height: 60vh;
    padding-bottom: 4em;
}

.dash-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

html {
    scroll-behavior: smooth;
  }

@media (max-width: 768px) {
    .dash-cards {
        grid-template-columns: 1fr;
        gap: 2em;
    }
  
}